@keyframes leftAnimation {
  0% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes rightAnimation {
  0% {
    transform: translateY(100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes fadeAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
