.left-aside {
  padding-top: 80px;
  max-width: 650px;
  width: 100%;
  background-color: var(--light-color);
  transition: background-color 0.5s;
  border: 8px solid var(--border-left);
}
.left-aside__photo {
  margin-bottom: 100px;
  text-align: center;
  
}
.left-aside__avatar {
  border: 0.5rem solid var(--border-color);
  max-width: 400px;
  width: 100%;
  border-radius: 50%;
  transition: border-color 0.5s;
  
}
.left-aside__info {
  padding: 0 10px;
  margin-bottom: 50px;
  text-align: center;
  display: none;
}
.left-aside__firstname {
  font-size: 120px;
  line-height: 130px;
  font-family: 'Zeyada', cursive;
  letter-spacing: 10px;
  color: var(--dark-color);
}
.left-aside__lastname {
  font-size: 120px;
  line-height: 130px;
  font-family: 'Zeyada', cursive;
  letter-spacing: 10px;
  margin-bottom: 30px;
  color: var(--dark-color);
}
.left-aside__position {
  font-size: 25px;
  background: var(--white-color);
  border-radius: 28px;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dark-color);
}
.left-aside__description {
  padding: 0 100px;
}
@media (max-width: 1200px) {
  .left-aside__avatar {
    max-width: 300px;
    margin-bottom: 30px;
  }
  .left-aside__description {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 980px) {
  .left-aside__photo {
    margin-bottom: 0;
  }
  .left-aside__avatar {
    max-width: 500px;
    margin-bottom: 0;
  }
  .left-aside__info {
    display: block;
  }
  .left-aside {
    max-width: 100%;
    border: none;
  }
}
@media (max-width: 590px) {
  .left-aside {
    padding-top: 20px;
  }
  .left-aside__avatar {
    max-width: 350px;
  }
}
@media (max-width: 480px) {
  .left-aside__avatar {
    max-width: 250px;
  }
  .left-aside__firstname {
    font-size: 90px;
    line-height: 100px;
  }
  .left-aside__lastname {
    font-size: 90px;
    line-height: 100px;
  }
  .left-aside__position {
    font-size: 16px;
  }
}
