.right-aside {
  padding: 0 100px;
  padding-top: 80px;
  max-width: 650px;
  width: 100%;

}
.right-aside__info {
  margin-bottom: 124px;
}
.right-aside__firstname {
  font-size: 150px;
  line-height: 160px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 10px;
  color: var(--dark-color);
  transition: color 0.5s;
}
.right-aside__lastname {
  margin-left: 70px;
  font-size: 150px;
  line-height: 160px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 10px;
  margin-bottom: 30px;
  color: var(--dark-color);
  transition: color 0.5s;
}
.right-aside__position {
  font-size: 25px;
  background: var(--white-color);
  color: var(--dark-color);
  border-radius: 28px;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.5s;
}
@media (max-width: 1200px) {
  .right-aside__firstname {
    font-size: 120px;
    line-height: 130px;
  }
  .right-aside__lastname {
    font-size: 120px;
    line-height: 130px;
    margin-bottom: 60px;
  }
}
@media (max-width: 980px) {
  .right-aside {
    max-width: 100%;
    padding: 0;
  }
  .right-aside__info {
    display: none;
  }
}

